.DARK {
    background-color: #171A21;
}

main.DARK {
    background-color: grey;
}

button.DARK {
    background: purple;
}

.NOTEBOOK {
    background-color: #E6E49F;
}

button.NOTEBOOK {
    background-color: #537D8D;
}

